// GENERAL
body {
  overflow-x: hidden !important;
}

.text-decoration-line_c {
  border: none;
  border-color: #140f26 !important;
}

.marketplace-products {
  background: transparent;
}
// GENERAL

// TOP HEADER
.mobile_header_container {
  position: absolute;
  top: 0%;
  width: 100%;

  .inner_mobile_header_container {
    border-bottom: 1px solid #c7c1d9;
  }
}
// TOP HEADER

// HAMBURGER MENU
.hamburger-menu {
  display: block;
  width: 22px;
  height: 16px;
  position: relative;
  cursor: pointer;

  .bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.2s ease-out;
  }

  .bar:nth-child(1) {
    top: 0;
  }

  .bar:nth-child(2) {
    top: 9px;
  }

  .bar:nth-child(3) {
    top: 18px;
  }

  &.open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  &.open .bar:nth-child(2) {
    opacity: 0;
  }

  &.open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
// HAMBURGER MENU

// HAMBURGER AND LOGO HEADER HEADER
.mb_header {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(91, 83, 116, 0.15);
}
// HAMBURGER AND LOGO HEADER HEADER

// FILTER BTNS
.upper_filter_container {
  .filter_container {
    display: flex;
    margin-top: 1.2rem;

    button {
      background: none;
      border: 0px;

      &:nth-child(1) {
        color: #fb2b4e;
        font-weight: 600;
        border: 1px solid #fb2b4e;
        padding: 8px 22px;
        border-radius: 50px;

        p {
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }

    .filter_text {
      margin-bottom: 0px;
      padding-left: 5px;
      padding-top: -1px;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;

    .filter_container,
    .search-wrapper {
      margin-top: 0rem;
    }
  }

  &.localmarketplace {
    .filter_container {
      margin-top: -0.4rem;
    }

    button {
      &:nth-child(1) {
        color: #5735f0;
        border: 1px solid #5735f0;
      }
    }

    .search-wrapper {
      margin-top: 0rem;
    }

    &.sticky {
      .filter_container {
        margin-top: 1rem;
      }
      .search-wrapper {
        margin-top: 0.8rem;
      }
    }
  }
}
// FILTER BTNS

// SEARCG LIST
.search-wrapper {
  position: relative;
  margin-top: 1.2rem;

  .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }

  .search-icon i {
    color: #ccc;
    font-size: 18px;
  }

  .search-input-wrapper {
    label {
      position: absolute;
      font-size: 12px;
      left: 15px;
      top: -10px;
      background: #ffffff;
      font-weight: 600;
      padding: 0px 5px;
    }

    .search-suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      border: 1px solid #cccccc4b;
      box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
      z-index: 10;
      display: none;
      margin-top: 10px;
      border-radius: 10px;
    }

    .search-suggestions.active {
      display: block;
    }

    .search-suggestions ul {
      list-style: none;
      margin: 0;
      padding: 5px;
    }

    .search-suggestions ul li {
      padding: 10px 5px;
      cursor: pointer;
      font-weight: 600;
    }

    .search-suggestions ul li:hover {
      background-color: #f5f5f5;
    }
  }

  .search-input-wrapper.active {
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  .search-input-wrapper input {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(34, 26, 59, 0.08);
    border-radius: 8px;
    border: 1px solid #322950;
    width: 100%;
    height: 44px;
    padding: 0px 30px 0px 40px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
  }

  .search-close-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  }

  .search-close-icon:hover {
    opacity: 1;
  }

  .search-close-icon i {
    color: #ccc;
    font-size: 18px;
  }
}
// SEARCG LIST

// SIDEBAR SHADOW
.main_sidebar_container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #420a142f;
  transition: 0.4s;
  z-index: 10;
}
// SIDEBAR SHADOW

// SIDEBAR
.sidebar_container {
  position: absolute;
  top: 0rem;
  background: #fff;
  box-shadow: 1px 5px 5px #cccccc59;
  min-width: 300px;
  border-radius: 10px;
  transition: 0.4s;
  z-index: 100;

  .sidebar_header {
    background: #e3e0ec;

    .profile_pic {
      background: #000;
      height: 40px;
      width: 40px;
      border-radius: 50px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cross_sidebar {
      height: 16px;
      width: 16px;
    }
  }

  .sidebar_body {
    li {
      font-weight: 600;
      padding: 1.3rem 0rem;

      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  .sidebar_footer {
    font-weight: 600;
    padding: 1.3rem 0rem;
    border-top: 1px solid #ccc;

    img {
      height: 20px;
      width: 20px;
    }
  }
}
// SIDEBAR

// FILTER DRWAER
.filters_drawer {
  position: fixed;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.4s;
  z-index: 100;

  .filters_drawer_body {
    overflow-y: auto;
    padding-bottom: 3rem;
    height: calc(100vh - 100px);

    .card-header {
      background-color: rgba(0, 0, 0, 0);
    }

    .btn.btn-link {
      width: 100%;
      text-align: left;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: space-between;
    }

    .btn.focus,
    .btn:focus {
      box-shadow: none;
    }

    .btn-link {
      color: #000;
      text-decoration: none;
      font-weight: 600;
    }
  }

  .filters_drawer_footer {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    width: 100%;
    position: fixed;
    bottom: inherit;
    left: 0%;
    padding: 15px 0px;
    background: #ffff;
    border-top: 1px solid #ccc;

    button {
      padding: 10px 20px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    button:nth-child(1) {
      color: #aca5c0;
      border: 1.5px solid #aca5c0;
      border-radius: 480px;
      background: transparent;
    }
    button:nth-child(2) {
      color: #ffffff;
      background: linear-gradient(180deg, #fb2b4e 0%, #ff6937 100%);
      border-radius: 480px;
      border: none;
    }
  }

  &.localmarketplace {
    .filters_drawer_body {
      .card {
        border-radius: 0px !important;
      }
    }
    .card-header {
      padding: 0.75rem 1.25rem;
    }

    .filters_drawer_footer button:nth-child(2) {
      background: linear-gradient(180deg, #5735f0 0%, #7940f2 100%);
    }
  }
}
// FILTER DRWAER

// FILTER CHECKBOX
.checkbox__wrapper {
  // Styles
  .checkbox {
    font-weight: 300;
    line-height: 1;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 1rem;

    &__wrapper {
      > * {
        margin-bottom: 1.25rem;
      }
    }

    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked + .checkbox__check .checkbox__svg {
        path {
          stroke: #000;
          stroke-width: 1.5px;
          animation: dash 2s ease-out forwards;
        }

        border: 1px solid #000;
        background-color: #fff;
      }
    }

    &__svg {
      overflow: visible;
      padding: 0.08rem;
      height: 16px;
      width: 16px;
      border-radius: 0.125rem;
      transform: scale(1.2);
      border: 1px solid #000;
      border-radius: 5px;

      path {
        stroke: transparent;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
      }
    }

    .label {
      font-size: 0.9rem;
      color: #000;
      font-weight: 600;
    }
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
// FILTER CHECKBOX

// FOOTER
.footer {
  .row {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .round-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
// FOOTER

// NAVIGATION
.seat_market_container {
  position: fixed;
  bottom: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  z-index: 5;
  background: #ffffff;

  a {
    width: 50%;
    color: #5b5374;
    border-top: 4px solid #e3e0ec;
    text-align: center;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  a:nth-child(1) {
    border-right: 1px solid #e3e0ec;
  }

  a.active {
    color: #140f26;
    font-weight: 700;
  }

  a.local.active {
    border-top: 4px solid #5735f0;
  }

  a.seatplay.active {
    border-top: 4px solid #fb2b4e;
  }

  .suggest_store_container {
    position: absolute;
    top: -3.2rem;
    right: 1.6rem;

    button {
      background: #fff;
      border: 2px solid #5735f0;
      color: #5735f0;
      height: 40px;
      padding: 0px 20px;
      border-radius: 50px;
      font-weight: 600;
    }
  }
}
// NAVIGATION

// PRODUCT
.product {
  .seat_left {
    color: #5b5374;
    font-size: 14px;
  }
  .title {
    letter-spacing: 0rem;
    height: 35px !important;
  }

  .share_to_unlock {
    background: linear-gradient(180deg, #fb2b4e 0%, #ff6937 100%);
    border-radius: 480px;
    height: 56px;
    width: 100%;
    color: #fff;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 2px;
  }
}
// PRODUCT

// LOCALMARKERPLACE
.store-block {
  padding: 5px;

  .store-img {
    min-height: 288px;
    object-fit: cover;
  }

  .store-block-caption {
    h2,
    p {
      text-align: left !important;
      width: 100%;
    }
  }

  .a {
    height: auto;
  }
}
// LOCALMARKERPLACE

// BREADCRUMB
.breadcrumb_container {
  span,
  strong {
    font-size: 14px;
  }
}
// BREADCRUMB

// PRODUCT
.seat_play_card {
  box-shadow: 0px 2px 4px rgba(91, 83, 116, 0.12);
  border-radius: 16px;
  background: #ffffff;
}
// PRODUCT

// STORE
.store-block {
  .store-block-caption.caption_new {
    bottom: 40px;
  }

  .store_icons_new {
    position: absolute;
    bottom: 15px;
    z-index: 5;
    padding: 0rem 1.2rem;
    justify-content: space-between;
    width: 100%;
  }
}
// STORE

// TABS
.tab-container__new {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #fff;
  z-index: 1;
  width: 100%;

  .tab-header {
    display: flex;
    width: 100%;

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      background: #fff;
    }
  }

  .tab-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
    border-bottom: 2px solid #e3e0ec;
    width: 100%;
  }

  .tab-button.active {
    color: #333;

    &.local__ {
      border-bottom: 2px solid #5735f0;
    }
    &.seat__ {
      border-bottom: 2px solid #fb2b4e;
    }
  }

  .upper-tab-content.local__ {
    background: #f7f7f8;
    width: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .tab-item {
    display: none;

    p {
      font-style: normal;
      font-weight: 450;
      font-size: 14px;
      line-height: 18px;
      color: #5b5374;
    }

    .store-card--new {
      display: flex;
      flex-direction: column;
      width: 300px;
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(91, 83, 116, 0.2);
      border-radius: 24px;
      overflow: hidden;

      .card-image {
        width: 100%;
        height: autp;
        -o-object-fit: cover;
        object-fit: contain;
      }

      .card-title {
        font-weight: bold;
        text-align: center;
        color: #221a3b;
        font-size: 16px;
        font-weight: 700;
      }

      .card-prices {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1rem;
      }

      .card-price {
        font-size: 24px;
        font-weight: 700;
      }

      .card-price-original {
        text-decoration: line-through;
        color: #999;
      }

      .card-price-discounted {
        color: #333;
        font-weight: bold;
      }
    }
  }

  .tab-item.active {
    display: block;
  }

  .history_container {
    border: 1px solid #d8d8d8;
    box-shadow: 1px 5px 5px #cccccc4b;
    border-radius: 15px;

    table thead th {
      text-align: center;
    }

    table thead td {
      text-align: center;
    }

    .table th:first-child {
      border-top-left-radius: 0px;
    }
    .table th:last-child {
      border-top-right-radius: 0px;
    }
    .pin {
      text-align: center;
      vertical-align: middle;
    }

    .table-bordered th {
      border: none;
    }

    .table th {
      color: #221a3b;
    }
  }
}
// TABS

// SLIDER
$arrow: #3c376f;
$bg: #fef8f9;

.product_images_slider {
  button {
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    background: transparent;
    color: $arrow;
    font-size: 2rem;
  }

  // button span {
  //   position: relative;
  //   display: inline-block;
  //   transform: translateX(0);
  //   transition: transform 0.3s ease;
  // }

  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }

  .next:hover span {
    transform: translateX(10px) scale(1.2);
  }

  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .slider_ {
    img {
      width: 100%;
      height: 190px;
      object-fit: cover;
      background-color: #fff;
      display: none;
      border-radius: 15px;
    }
  }

  .score {
    background: #5b5374;
    border-radius: 100px;
    height: 26px;
    width: 48px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.1rem;
  }

  img.active {
    display: block;
    animation: fadeImg 0.8s;
  }

  .slider-nav .arrow {
    flex: 0 0 15%;
  }

  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  @keyframes fadeImg {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
// SLIDER

// SEAT
.seats-box {
  .seat:before {
    border-radius: 10px;
  }
  .seat span {
    border-radius: 10px;
  }
}
// SEAT

// PRODUCT POPUP
.load_your_account, .load_your_account2 {
  position: fixed;
  bottom: -100%;
  left: 0%;
  width: 100%;
  z-index: 5;
  background: #ffff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: 0.3s;

  .retail__ {
    p,
    h4 {
      color: #5b5374;
      font-weight: 600;
    }

    h4 {
      text-decoration: line-through;
    }
  }

  .price__ {
    color: #fb2b4e;
  }

  button {
    padding: 0.7rem 0rem;
    width: 100%;
    border: 2px solid #fb2b4e;
    border-radius: 50px;
    background: transparent;
    font-weight: 600;
    color: #fb2b4e;
  }

  &.masterplace_product {
    bottom: 3.8rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.3rem;

    .price__ {
      color: #000;
    }

    button {
      background: linear-gradient(180deg, #5735F0 0%, #7940F2 100%);
      color: #fff;
      text-transform: uppercase;
      border: none;
    }
  }
}
// PRODUCT POPUP
