body {
  overflow-x: hidden !important;
}

.text-decoration-line_c {
  border: none;
  border-color: #140f26 !important;
}

.marketplace-products {
  background: transparent;
}

.mobile_header_container {
  position: absolute;
  top: 0%;
  width: 100%;
}
.mobile_header_container .inner_mobile_header_container {
  border-bottom: 1px solid #c7c1d9;
}

.hamburger-menu {
  display: block;
  width: 22px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.hamburger-menu .bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: transform 0.2s ease-out;
}
.hamburger-menu .bar:nth-child(1) {
  top: 0;
}
.hamburger-menu .bar:nth-child(2) {
  top: 9px;
}
.hamburger-menu .bar:nth-child(3) {
  top: 18px;
}
.hamburger-menu.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mb_header {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(91, 83, 116, 0.15);
}

.upper_filter_container .filter_container {
  display: flex;
  margin-top: 1.2rem;
}
.upper_filter_container .filter_container button {
  background: none;
  border: 0px;
}
.upper_filter_container .filter_container button:nth-child(1) {
  color: #fb2b4e;
  font-weight: 600;
  border: 1px solid #fb2b4e;
  padding: 8px 22px;
  border-radius: 50px;
}
.upper_filter_container .filter_container button:nth-child(1) p {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.upper_filter_container .filter_container .filter_text {
  margin-bottom: 0px;
  padding-left: 5px;
  padding-top: -1px;
}
.upper_filter_container.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}
.upper_filter_container.sticky .filter_container,
.upper_filter_container.sticky .search-wrapper {
  margin-top: 0rem;
}
.upper_filter_container.localmarketplace .filter_container {
  margin-top: -0.4rem;
}
.upper_filter_container.localmarketplace button:nth-child(1) {
  color: #5735f0;
  border: 1px solid #5735f0;
}
.upper_filter_container.localmarketplace .search-wrapper {
  margin-top: 0rem;
}
.upper_filter_container.localmarketplace.sticky .filter_container {
  margin-top: 1rem;
}
.upper_filter_container.localmarketplace.sticky .search-wrapper {
  margin-top: 0.8rem;
}

.search-wrapper {
  position: relative;
  margin-top: 1.2rem;
}
.search-wrapper .search-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.search-wrapper .search-icon i {
  color: #ccc;
  font-size: 18px;
}
.search-wrapper .search-input-wrapper label {
  position: absolute;
  font-size: 12px;
  left: 15px;
  top: -10px;
  background: #ffffff;
  font-weight: 600;
  padding: 0px 5px;
}
.search-wrapper .search-input-wrapper .search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.2941176471);
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  margin-top: 10px;
  border-radius: 10px;
}
.search-wrapper .search-input-wrapper .search-suggestions.active {
  display: block;
}
.search-wrapper .search-input-wrapper .search-suggestions ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}
.search-wrapper .search-input-wrapper .search-suggestions ul li {
  padding: 10px 5px;
  cursor: pointer;
  font-weight: 600;
}
.search-wrapper .search-input-wrapper .search-suggestions ul li:hover {
  background-color: #f5f5f5;
}
.search-wrapper .search-input-wrapper.active {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.search-wrapper .search-input-wrapper input {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(34, 26, 59, 0.08);
  border-radius: 8px;
  border: 1px solid #322950;
  width: 100%;
  height: 44px;
  padding: 0px 30px 0px 40px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.search-wrapper .search-close-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.search-wrapper .search-close-icon:hover {
  opacity: 1;
}
.search-wrapper .search-close-icon i {
  color: #ccc;
  font-size: 18px;
}

.main_sidebar_container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(66, 10, 20, 0.1843137255);
  transition: 0.4s;
  z-index: 10;
}

.sidebar_container {
  position: absolute;
  top: 0rem;
  background: #fff;
  box-shadow: 1px 5px 5px rgba(204, 204, 204, 0.3490196078);
  min-width: 300px;
  border-radius: 10px;
  transition: 0.4s;
  z-index: 100;
}
.sidebar_container .sidebar_header {
  background: #e3e0ec;
}
.sidebar_container .sidebar_header .profile_pic {
  background: #000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar_container .sidebar_header .cross_sidebar {
  height: 16px;
  width: 16px;
}
.sidebar_container .sidebar_body li {
  font-weight: 600;
  padding: 1.3rem 0rem;
}
.sidebar_container .sidebar_body li img {
  height: 20px;
  width: 20px;
}
.sidebar_container .sidebar_footer {
  font-weight: 600;
  padding: 1.3rem 0rem;
  border-top: 1px solid #ccc;
}
.sidebar_container .sidebar_footer img {
  height: 20px;
  width: 20px;
}

.filters_drawer {
  position: fixed;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: 0.4s;
  z-index: 100;
}
.filters_drawer .filters_drawer_body {
  overflow-y: auto;
  padding-bottom: 3rem;
  height: calc(100vh - 100px);
}
.filters_drawer .filters_drawer_body .card-header {
  background-color: rgba(0, 0, 0, 0);
}
.filters_drawer .filters_drawer_body .btn.btn-link {
  width: 100%;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: space-between;
}
.filters_drawer .filters_drawer_body .btn.focus,
.filters_drawer .filters_drawer_body .btn:focus {
  box-shadow: none;
}
.filters_drawer .filters_drawer_body .btn-link {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.filters_drawer .filters_drawer_footer {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  width: 100%;
  position: fixed;
  bottom: inherit;
  left: 0%;
  padding: 15px 0px;
  background: white;
  border-top: 1px solid #ccc;
}
.filters_drawer .filters_drawer_footer button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.filters_drawer .filters_drawer_footer button:nth-child(1) {
  color: #aca5c0;
  border: 1.5px solid #aca5c0;
  border-radius: 480px;
  background: transparent;
}
.filters_drawer .filters_drawer_footer button:nth-child(2) {
  color: #ffffff;
  background: linear-gradient(180deg, #fb2b4e 0%, #ff6937 100%);
  border-radius: 480px;
  border: none;
}
.filters_drawer.localmarketplace .filters_drawer_body .card {
  border-radius: 0px !important;
}
.filters_drawer.localmarketplace .card-header {
  padding: 0.75rem 1.25rem;
}
.filters_drawer.localmarketplace .filters_drawer_footer button:nth-child(2) {
  background: linear-gradient(180deg, #5735f0 0%, #7940f2 100%);
}

.checkbox__wrapper .checkbox {
  font-weight: 300;
  line-height: 1;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.checkbox__wrapper .checkbox__wrapper > * {
  margin-bottom: 1.25rem;
}
.checkbox__wrapper .checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox__wrapper .checkbox__input:checked + .checkbox__check .checkbox__svg {
  border: 1px solid #000;
  background-color: #fff;
}
.checkbox__wrapper .checkbox__input:checked + .checkbox__check .checkbox__svg path {
  stroke: #000;
  stroke-width: 1.5px;
  animation: dash 2s ease-out forwards;
}
.checkbox__wrapper .checkbox__svg {
  overflow: visible;
  padding: 0.08rem;
  height: 16px;
  width: 16px;
  border-radius: 0.125rem;
  transform: scale(1.2);
  border: 1px solid #000;
  border-radius: 5px;
}
.checkbox__wrapper .checkbox__svg path {
  stroke: transparent;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
.checkbox__wrapper .checkbox .label {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.footer .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.footer .round-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.seat_market_container {
  position: fixed;
  bottom: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  z-index: 5;
  background: #ffffff;
}
.seat_market_container a {
  width: 50%;
  color: #5b5374;
  border-top: 4px solid #e3e0ec;
  text-align: center;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.seat_market_container a:nth-child(1) {
  border-right: 1px solid #e3e0ec;
}
.seat_market_container a.active {
  color: #140f26;
  font-weight: 700;
}
.seat_market_container a.local.active {
  border-top: 4px solid #5735f0;
}
.seat_market_container a.seatplay.active {
  border-top: 4px solid #fb2b4e;
}
.seat_market_container .suggest_store_container {
  position: absolute;
  top: -3.2rem;
  right: 1.6rem;
}
.seat_market_container .suggest_store_container button {
  background: #fff;
  border: 2px solid #5735f0;
  color: #5735f0;
  height: 40px;
  padding: 0px 20px;
  border-radius: 50px;
  font-weight: 600;
}

.product .seat_left {
  color: #5b5374;
  font-size: 14px;
}
.product .title {
  letter-spacing: 0rem;
  height: 35px !important;
}
.product .share_to_unlock {
  background: linear-gradient(180deg, #fb2b4e 0%, #ff6937 100%);
  border-radius: 480px;
  height: 56px;
  width: 100%;
  color: #fff;
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 2px;
}

.store-block {
  padding: 5px;
}
.store-block .store-img {
  min-height: 288px;
  -o-object-fit: cover;
     object-fit: cover;
}
.store-block .store-block-caption h2,
.store-block .store-block-caption p {
  text-align: left !important;
  width: 100%;
}
.store-block .a {
  height: auto;
}

.breadcrumb_container span,
.breadcrumb_container strong {
  font-size: 14px;
}

.seat_play_card {
  box-shadow: 0px 2px 4px rgba(91, 83, 116, 0.12);
  border-radius: 16px;
  background: #ffffff;
}

.store-block .store-block-caption.caption_new {
  bottom: 40px;
}
.store-block .store_icons_new {
  position: absolute;
  bottom: 15px;
  z-index: 5;
  padding: 0rem 1.2rem;
  justify-content: space-between;
  width: 100%;
}

.tab-container__new {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #fff;
  z-index: 1;
  width: 100%;
}
.tab-container__new .tab-header {
  display: flex;
  width: 100%;
}
.tab-container__new .tab-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}
.tab-container__new .tab-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  border-bottom: 2px solid #e3e0ec;
  width: 100%;
}
.tab-container__new .tab-button.active {
  border-bottom: 2px solid #333;
  color: #333;
}
.tab-container__new .upper-tab-content {
  background: #f7f7f8;
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.tab-container__new .tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.tab-container__new .tab-item {
  display: none;
}
.tab-container__new .tab-item p {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #5b5374;
}
.tab-container__new .tab-item .store-card--new {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(91, 83, 116, 0.2);
  border-radius: 24px;
  overflow: hidden;
}
.tab-container__new .tab-item .store-card--new .card-image {
  width: 100%;
  height: autp;
  -o-object-fit: cover;
  object-fit: contain;
}
.tab-container__new .tab-item .store-card--new .card-title {
  font-weight: bold;
  text-align: center;
  color: #221a3b;
  font-size: 16px;
  font-weight: 700;
}
.tab-container__new .tab-item .store-card--new .card-prices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}
.tab-container__new .tab-item .store-card--new .card-price {
  font-size: 24px;
  font-weight: 700;
}
.tab-container__new .tab-item .store-card--new .card-price-original {
  text-decoration: line-through;
  color: #999;
}
.tab-container__new .tab-item .store-card--new .card-price-discounted {
  color: #333;
  font-weight: bold;
}
.tab-container__new .tab-item.active {
  display: block;
}/*# sourceMappingURL=styles.css.map */